{{ attach_library('calculation_fields/calculation_fields') }}
<div
  data-evaluate-decimals='{{ decimals }}'
  data-evaluate-context='{{ formContext }}'
  data-evaluate-fields='{{ fields|join(' ') }}'
  data-evaluate-expression="{{ expression }}"
  data-drupal-selector="calculation_markup_{{ formContext }}_{{ fields|join('_') }}"
  class="js-form-math-element">
  <div class='form-math-markup-element' data-inputmask='{{ inputmask }}'>
    {% if placeholder %}
      <p class='js-math-placeholder'>{{ placeholder }}</p>
    {% endif %}
    <div class='js-math-result'>{{ textExpression|raw }}</div>
    <div class='js-math-result-base'>{{ textExpression|raw }}</div>
    <input class="js-math-result-input" type="hidden" value="" name="{{ name }}">
  </div>
</div>
